.main {
    position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

}
img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
input.search {
    display: block;
    padding: 12px;
    width: 450px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

input.google, input.lucky {
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    outline: none;
}

body {
    margin: 0;
}

.nav {
    text-align: right;
}

.nav ul {
    
    list-style: none;
}

.nav ul li {
    margin-top: 20px;
    display: inline;
    margin-right: 10px;
}

.navbar {
    background-color: #F1F1F1;
    height: 70px;
    text-align: right;
    
}

.navbar ul {
    list-style-type: none;
    margin-top: 0;
}

.navbar ul li {
    padding-top: 25px;
    margin-right: 30px;
}
.navbar img {
    padding-top: 20px;
    width: 100px;
    float: left;
    margin-left: 20px;
}

.adv h1 {
    margin-top: 20px;
    margin-left: 50px;
    color: #D93025;
    font-size: 25px;
    font-weight: 400;
}

.advance {
    margin-left: 50px;
    width: 695px;
}

.advance h5 {
    color: #333;
    font-weight: normal;
    font-size: 16px;
}

.advance div {
    margin-top: 20px;
}

.advance input {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 300px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    outline-style: none;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.all input {
    margin-left: 90px;
}

.this input {
    margin-left: 25px;
}
.any input {
    margin-left: 65px;
}
.none input {
    margin-left: 57px;
}

.button input {
    padding: 7px;
    float: right;
    color: white;
    background-color: #4989F1;
    border-radius: 2px;
    border: 1px solid #2f5bb7;
}

a {
    text-decoration: none;
    color: #3c4043;
}